*{
    padding:0;
    margin:0;
}
@media(min-width:993px) and (max-width:1800px){
    body{
        width:100%;
        height: 90vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        background-image: url('./bg/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 3.5rem;
    }
    .keys{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: center;
    }
    kbd{
        font-size: 1.5rem;
    }
    span{
        font-size: 1rem;
        color:orange;
    }
    .key{
        width:7%;
        padding:1.3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.5rem;
        align-items: center;
        transition: all .02s;
        background-color: black;
        border-radius:0.7rem;
    }
    .playing{
        box-sizing: border-box;
        transform: scale(1.0);
        border:2px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
    }
 }
 @media (min-width:769px) and (max-width:992px){
    body{
        width:100%;
        height: 90vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        background-image: url('./bg/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 3rem;
    }
    .keys{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: center;
    }
    kbd{
        font-size: 1.3rem;
    }
    span{
        font-size: 1rem;
        color:orange;
    }
    .key{
        width:10%;
        padding:1.3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.5rem;
        align-items: center;
        transition: all .02s;
        background-color: black;
        border-radius:0.7rem;
    }
    .playing{
        box-sizing: border-box;
        transform: scale(1.0);
        border:2px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
    }
  }
  @media (min-width:577px) and (max-width:768px){
    body{
        padding-top:1rem;
        width:100%;
        height: 90vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
        background-image: url('./bg/bg.jpg');
        /* background-repeat: no-repeat; */
        background-size:cover;
        color:white;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 3rem;
    }
    .keys{
        gap:3rem;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items: center;
    }
    kbd{
        width:100%;
        text-align: center;
        font-size: 1.5rem;
    }
    span{
        font-size: 1rem;
        color:orange;
    }
    .key{
        width:22%;
        padding:1.3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.5rem;
        align-items: center;
        transition: all .02s;
        background-color: black;
        border-radius:0.7rem;
    }
    .playing{
        box-sizing: border-box;
        transform: scale(1.0);
        border:2px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
    }
   }
   @media (min-width:330px) and (max-width:576px){
    body{
        padding-top:1.5rem;
        width:100%;
        height: 90vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
        background-image: url('./bg/bg.jpg');
        /* background-repeat: no-repeat; */
        background-size:cover;
        color:white;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 3rem;
    }
    .keys{
        padding:2rem 0rem;
        gap:3rem;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items: center;
    }
    kbd{
        width:100%;
        text-align: center;
        font-size: 1.5rem;
    }
    span{
        font-size: 0.7rem;
        color:orange;
    }
    .key{
        box-sizing: border-box;
        width:20%;
        padding:1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.5rem;
        align-items: center;
        transition: all .02s;
        background-color: black;
        border-radius:0.7rem;
    }
    .playing{
        box-sizing: border-box;
        transform: scale(1.0);
        border:3px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
    }
    }
